@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>VIKINGOOOO PREPARATE PARA LA GLORIA</h1>
<div  class="text-center botones">
    <form asp-action="CargarJuego" asp-controller="Juego" method="post">
        <div class="mb-3 col-xl-7">
            <button type="submit" class="btn btn-primary">START</button>
        </div>
    </form>
</div>
    <div class="text-center botones">
        <form asp-action="Salir" asp-controller="Juego" method="post">
            <div class="mb-3 col-xl-7">
                <button type="submit" class="btn btn-primary">SALIR</button>
            </div>
        </form>

    </div>


