@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>ESTAS ELIMINADO GUERRERRO, VUELVE PRONTO PARA TU PROXIMO COMBATE EN LA ARENA</h1>

<div class="text-center botones">
    <form asp-action="Salir" asp-controller="Juego" method="post">
        <div class="mb-3 col-xl-7">
            <button type="submit" class="btn btn-primary">SALIR</button>
        </div>
    </form>

</div>
