@*

*@
@{

}
@model Jugador
<h1>@ViewData["MessajeJugador"]</h1>
<form asp-action="ValidarJugador" asp-controller="Jugador" method="post">
    <div class="mb-3 col-xl-7">
        <label class="form-label">Nombre</label>
        <input type="text" asp-for="Nombre" class="form-control " id="InputNombre" placeholder="Ingrese su nombre">
        <span asp-validation-for="Nombre"></span>
    </div>

    <div class="mb-3 col-xl-7">
        <label class="form-label ">Correo</label>
        <input type="email" asp-for="Correo" class="form-control" id="InputCorreo" placeholder="Ingresa su correo electronico">
        <span asp-validation-for="Correo"></span>
    </div>

    <div class="mb-3 col-xl-7">
        <label class="form-label">Contraseña</label>
        <input type="password" asp-for="Contraseña" class="form-control " id="InputContraseña" placeholder="Ingrese una contraseña">
        <span asp-validation-for="Contraseña"></span>
    </div>
    <div class="mb-3 col-xl-7">
        <label class="form-label">Confirmar Contraseña</label>
        <input type="password" asp-for="ValidarContraseña" class="form-control " id="InputValidarContraseña" placeholder="Escriba nuevamente su contraseña">
        <span asp-validation-for="ValidarContraseña"></span>
    </div>
    <div class="mb-3 col-xl-7">
        <button type="submit" class="btn btn-primary">Registro</button>
    </div>
</form>